# Environment variables
.env

# Python cache
__pycache__/
*.py[cod]

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Data files
*.csv
*.h5


# Logs
logs/
*.log

# Virtual environment
venv/
env/
.venv/
.env/


# System files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/
